body {
    text-align: center;
    background-color: cadetblue;
    color: #fff;
}
body p{
    font-family: sans-serif;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* vh stands for viewport height */
  }
  
  form {
    width: 50%; /* adjust this value to control the form's width */
  }


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
label{
    display:flex;
}
button {
    background-color: chartreuse;
}
button:disabled {
    background-color:grey;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn{
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
  